<div class="col-12 offset-0">
	<div class="col-md-10 offset-md-1 col-12 offset-0">
		<div class="row">
			<% @grams.each do |gram| %>
				<div class="col-md-6 col-12">
					<div class="card bs">
						<div class="handle dark-bg">
							<div class="row">
							<div class="col-9">
								<h6><%= gram.user.username %></h6>
							</div>
					    <div class="col-3">
					    	<div class="gram-actions text-right">
						      <% if current_user && current_user == gram.user %>
						        <%= link_to edit_gram_path(gram), class: 'light-g tsa' do %>
						        <i class="fas fa-edit"></i>
						        <% end %>
								    <%= link_to gram_path(gram), class: 'light-g tsa', method: :delete, data: {confirm: 'Are you want to delete your unpopular post?'} do %>
		 				        <i class="fas fa-trash-alt"></i>
		 				        <% end %>
						      <% end %>
						    </div>
					  	</div>
					  </div>
						</div>
						<%= image_tag gram.picture.url, class: 'img-fluid' %>
						<p><%= gram.message %></p>
				    <br class="clear-fix" />
			        <% if current_user %>
				        <div class="comments">
					      	<% gram.comments.each do |comment| %>
					          <div class="comment">
					            <span class="comment_handle">
					              <%= comment.user.username %>
					            </span>
					            <%= comment.message %>
					          </div>
					        <% end %>
					      	<%= simple_form_for Comment.new, url: gram_comments_path(gram) do |f| %>
					        <%= f.input :message, label: 'Leave a Message' %>
					        <%= f.submit 'Send', class: 'btn my-btn' %>
					      <% end %>
					    </div>
				    <% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>