<nav class="navbar navbar-expand flex-nowrap top-nav sticky-top">
    <span class="navbar-brand w-100"><%= link_to image_tag('postamatic.png'), root_path, class: 'brand' %></span>
    <div class="navbar-collapse collapse w-100 justify-content-center" id="navbar5">
      <ul class="navbar-nav">
        <% if current_user %>
          <li class="nav-item">
            <%= link_to "#postModal", :class => "btn dark-g", "data-toggle" => "modal" do %>
              <i class="fas fa-spray-can fa-3x"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: 'btn dark-g' do %>
              <i class="fas fa-sign-out-alt fa-3x"></i>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "#exampleModal", :class => "btn dark-g", "data-toggle" => "modal"  do %>
             <i class="fas fa-sign-in-alt fa-3x"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "#regModal", :class => "btn dark-g", "data-toggle" => "modal"  do %>
             <i class="fas fa-cash-register fa-3x"></i>
            <% end %>
          </li>
        <% end %>
      </ul>   
    </div>
    <div class="w-100"><!--spacer--></div>
</nav>